*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: verdana;
    position: relative;
}
.bg-image{
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/ritspiritpawsmall.jpg");
    background-repeat: no-repeat;
    background-position: 40% 40%;
    background-attachment: fixed;
    background-size: cover;
}
/* 
*   Begin Navigation Section
*/
.menu-link{
    position: fixed;
    top: 0%;
    font-size: 1.5em;
    background-color: black;
    border-right: 2px solid #F76902;
    border-bottom: 2px solid #F76902;
    padding: 0 20px 15px 15px;
    height: 55px;
    color: white;
    z-index: 1;
}
.panel{
    background-color: black;
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
    z-index: 1;
}
.panel a {
    display: block;
    border-bottom: 2px solid #F76902;
    padding: 1em;
    color: white;
    text-decoration: none;
}
.panel a:hover,.panel a:active {
  background: #F76902;
}
.caps{
    text-transform:capitalize;
}
/* 
*   End Navigation Section
*   Begin Base Struture
*       Creates the Black transparent bg, white bg, and modal
*/
.main-wrapper>div:nth-of-type(1){
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    background-color: #F76902;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px 20px;
    margin-top: 20%;
}
.white-bg-section{
    background-color: white;
    border-radius: 15px;
    font-size: .9rem;
    padding: 15px;
    margin-top:15px;
}
.modal{
    max-width: 80vw;
}
/* 
*   End Base Structure 
*   Beging section specific design
*/
#ugrad-deg img, #grad-deg img{
    background-color: #F76902;
    border-radius: 50px;
    width: 50%;
    margin-top: 10px;
    width: 30%;
}
/*  */
.emp-headers{
    /* border-bottom: 1px solid #F76902; */
    background-color: #F76902;
    color: white;
    margin: 50px 0 10px 0;
    /* padding-bottom: 2px; */
    font-size: 1.75rem;
}
#stats-wrapper, #employers-wrapper, #careers-wrapper, 
#table-wrapper{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
}
.stats-wrap-children, #coop, #prof{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #F76902;
    margin-top: 25px;
    padding: 25px 15px;
}
.stats-description{
    border-top: 1px solid black;
}
.employers{
    width: 100%;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .9);
    color: white;
    margin-top: 25px;
    padding: 25px 15px;
}
.careers{
    width: 100%;
    border: 2px solid black;
    border-radius: 500px;
    background-color: #F76902;
    margin-top: 25px;
    padding: 25px 15px;
}
#coop, #prof{
    background-color: white;
}
#table-wrapper a{
    text-decoration: none;
}
#table-wrapper a:visited{
    color: black;
}
.people-faculty-wrapper, .people-staff-wrapper{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.fac-staff-children{
    border: 1px solid black;
    width: 80%;
    height: 100px;
    margin: auto;
    background-color: #F76902;
}
.fac-staff-children a{
    margin: auto;
    line-height: 90px;
    text-align: center;
}
.fac-staff-children a:visited{
    color: white;
}
.fac-staff-children a:visited,
.fac-staff-children a:link,
.fac-staff-children a:active{
    color: white;
}
#research-interest a:visited,
#research-interest a:link,
#research-interest a:visited{
    color: black;
}
#research-interest-wrapper{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-around;
}
#research-interest span{
    border: 2px solid black;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    line-height: 45px;
}
#research-faculty span{
    /* display: block; */
    /* border: 2px solid black; */
    width: 100%;
    /* height: 50px; */
    margin-bottom: 25px;
}
#research-faculty img{
    max-width: 30%;
    max-height: 90px;
    margin-right: 15px;
}
.resources{
    border: 2px solid black;
    height: 50px;
    line-height: 50px;
}
.resources:nth-of-type(1){
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.resources:nth-of-type(6){
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#ambo-accordion img{
    max-width: 100%;
}
#footer{
    margin-top: 50px;
}
#footer p{
    font-size: .5rem;
}
#action{
    margin-bottom: 15px;
}
#action a{
    margin-right: 10px;
}

/* 
*   MODAL STYLES
*/
.modal h4{
    border-bottom: 1px solid #F76902;
    margin-bottom: 5px;
    color: #F76902;
}
.modal div{
    padding: 10px;
}
#modal-grad p, #modal-ug p{
    margin: 5px;
}
.news-title, .news-date, 
.news-desc{
    list-style-type: none;
}
.news-title{
    color: #F76902;
    border-bottom: 1px solid #F76902;
}
.news-date{
    font-size: .75rem;
    margin-bottom: 15px;
}
.caps{
    color: #F76902;
    margin-bottom: 5px;
}
.modal .li:nth-child(odd){
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 10px;
}
.modal .li:nth-child(even){
    background-color: #F76902;
    color: white;
    list-style-type: none;
    padding: 10px;
}
/*  */
/* 
*   BEGIN NON-MOBILE
*/
@media only screen and (min-width: 600px) {
    .main-wrapper>div:nth-of-type(1){
        width: 80%;
        margin-top: 5%;
        border: 2px solid white;
        /* margin-top: 3%; */
    }
    #welcome-about{
        font-size: .9rem;
    }
    .bg-image{
        background-image: url("../images/ritspiritpaw.jpg");
    }
    #welcome>div:nth-of-type(2){
        font-size: 3rem;
    }
    /* turns off all the mnor-tabs */
    #class2, #class3,#class4,
    #class5,#class6,#class7
    ,#class8{
        display: none;
    }
    #class1,#class2, #class3,#class4,
    #class5,#class6,#class7
    ,#class8{
        border-left: 1px solid #F76902;
        border-bottom: 1px solid #F76902;
        border-right: 1px solid #F76902;
        padding: 10px;
    }
    .ui-accordion-content p, 
    .ui-accordion-content ul{
        margin-bottom: 50px;
    }

    #ugrad-deg img, #grad-deg img{
        width: 7%;
    }
    /* undergrad-minor main section location` */
    section:nth-of-type(4)>div:nth-of-type(2){
        margin-top: 10%;
    }
    .stats-wrap-children{
        width: 22%;
        border: 2px solid black;
        
    }
    .employers{
        width: 15%;
        padding: 30px;
    }
    .careers{
        width: 15%;
        /* padding: 30px; */
    }
    #table-wrapper a{
        width: 30%;
    }
    #coop:hover, #prof:hover,
    #research-interest span:hover{
        background-color: #F76902;
        color: white;
    }
    .emp-emp-wrapper, .emp-coop-wrapper,
    .emp-stats-wrapper, .emp-emprs-wrapper,
    .emp-careers-wrapper, .emp-tables-wrapper{
        border-left: 1px solid #F76902;
        border-right: 1px solid #F76902;
        border-bottom: 1px solid #F76902;
        padding-bottom: 20px;
    }
    .fac-staff-children{
        width: 20%;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
    }
    #research-interest span{
        width: 30%;
    }
    #research-faculty div{
        display: inline;
        width: 10%;
    }
    #research-faculty img{
        max-width: 10%;
        max-height: 90px;
    }
    .resources{
        width: 30%;
        margin: auto;
    }
}